.all-record {
  // overflow-x: scroll;
  // width: 100%;
  .table-data {
    .ant-table {
      table {
        // width: max-content;
      }
    }
  }
  .pagination-bar {
    margin-top: 20px;
  }

}
